      </div>
      <!-- base container body ends-->
      <!-- footer starts -->
      <div class="footer-container lg:px-16 md:px-8">
        <div class="copyright-text">Copyright fairdrop.io 2020</div>
        <div class="flex flex-wrap">
          <div class="copyright-text lg:mx-4 md:mx-2">
            Find us on
          </div>
          <a href="mailto:contact@fairdrop.io" class="lg:mx-4 md:mx-2 text-base social-icon hover:social-icon focus:social-icon"><i class="fas fa-envelope"></i></a>
          <a href="https://twitter.com/fairdrop_io" target="_blank" class="lg:mx-4 md:mx-2 text-base social-icon hover:social-icon focus:social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="lg:mx-4 md:mx-2 text-base social-icon hover:social-icon focus:social-icon"><i class="fab fa-discord"></i></a>
        </div>
      </div>
      <!-- footer ends -->
    </div>
  </div>
</body>

</html>